/* HEADER */

header.h-desktop {
        z-index: 999999;
        background-color: #364b5f;
        align-items: center;
        height: 50px;
        padding-right: 10px;
        font-family: Fira Sans,sans-serif;
        display: flex;
        position: relative
    }

    header.h-desktop .logo img {
        max-height: 50px;
        margin-left: 1rem
    }

    header.h-desktop .logo-ign img {
        max-height: 50px;
        margin-top: 3px;
        margin-left: .2rem
    }

    header.h-desktop .visor-title {
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%)
    }

    header.h-desktop .visor-right {
        align-items: center;
        gap: 12px;
        height: 100%;
        margin-left: auto;
        display: flex
    }

    header.h-desktop .visor-logo {
        cursor: pointer;
        align-items: center;
        display: flex
    }

    header.h-desktop .visor-logo img {
        max-height: 40px
    }

    header.h-desktop .visor-language {
        align-items: center;
        gap: 8px;
        display: flex
    }

    header.h-desktop .visor-language>span {
        color: #fff;
        cursor: pointer
    }
